/* LIBRARY
--------------------------------------------------------- */



/* SIZES
----------------------------------------- */
// small_movil_max_width
@small_movil_max_width : 640px;
// movil_max_width
@movil_max_width : 768px;
// content_data_max_width
@content_data_max_width : 1152px;



/* COLORS
--------------------------------------------------------- 
@default_text_color : #161616;
@grey_mid_color : #d5d7db;
@grey_dark_color : #afb4b9;
@selected_text_color : #fb8218;
@background_button : #adadad;*/



/* FONTS
--------------------------------------------------------- 
@default_font_light 	: 'sf_pro_displaylight', sans-serif;
@default_font_ultralight: 'sf_pro_displayultralight', sans-serif;
@default_font_thin 		: 'sf_pro_displaythin', sans-serif;
@default_font_medium 	: 'sf_pro_displaymedium', sans-serif;
@default_font_regular 	: 'sf_pro_displayregular', sans-serif;
@default_font_bold 		: 'sf_pro_displaybold', sans-serif;
@default_font_ultrabold : 'sf_pro_displaybold', sans-serif; // Same as bold for now
@default_glyphicons 	: 'Glyphicons Halflings';*/