// Variables
	@assets_path: "../../assets";
	//@fonts_path: "@{assets_path}/fonts";
	//@path_page: "../../page";

// Usage library
	//@import "@{assets_path}/css/library.less";


// error_content div
	.error_content {
		padding: 40px;
		border-radius: 4px;
		background-color: #000000;
		//background-image: url('../../assets/images/page-not-found-error-404.png');
		//background-image: url('../../assets/images/error.jpg');
		background-image: url('../../assets/images/bastida_aerea.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 500px;
		height: 100vh;
		color: #ffffff; 
		padding-top: 75px;
		font-weight: 900;

		a {
			color: #ffffff;
			padding: 40px;
		}

		h1, h2 {
			color: #ffffff;
			font-weight: 900;
			letter-spacing: 0.01em;
		}
	}


